$overlay-color: rgba(0, 0, 0, 0.5);
$popup-bg-color: #3c3c3c;
$popup-title-color: #fff;
$popup-subtitle-color: #aaa;
$line-red: #e50000;
$btn-gray: #999;
$btn-red: #e50000;

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $overlay-color;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal_popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $popup-bg-color;
  border-radius: 8px;
  width: 400px;
  padding: 24px 24px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  border-top: 4px solid $line-red;
  // 응용
  .result_text {
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    color: $popup-subtitle-color;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  h3 {
    color: $popup-title-color;
    margin-bottom: 16px;
    font-size: 1.2rem;
  }

  .subtext {
    color: $popup-subtitle-color;
    font-size: 0.85rem;
    margin-top: 24px;
    margin-bottom: 24px;
    line-height: 1.5;
  }

  .button_group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    button {
      padding: 8px 18px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 0.9rem;

      &.gray_btn {
        background-color: $btn-gray;
        color: #fff;
      }

      &.red_btn {
        background-color: $btn-red;
        color: #fff;
      }
    }
  }
}
